.header {
  background-color: #61dafb;
  padding: 20px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.content {
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: medium;
  font-weight: bold;
}
